/* ==UserStyle==
@name           Hidden Elise
@description    Hides page gaps and adds cusomizable color themes.
@namespace      https://github.com/Christopher-McGinnis/User-CSS
@version        1.0.1
@author         Christopher McGinnis
@preprocessor   stylus
@var checkbox   autohide_toolbars "Hide WP Bar?" 1
@var checkbox   remove_page_gaps "Hide Page Gaps?" 1
@var select   use_theme "Theme?" [
    "no_theme:Normal",
    "do_theme_dark:Dark",
    "do_theme_caremel_popcorn:Caremel Popcorn",
    "do_theme_latte:Latte",
    "do_theme_raeliana:Raeliana",
    "do_theme_elise:Elise Dark",
    "do_theme_color:Custom Colors",
]
@var color      primary-bg-color         "Primary BG Color"  #0f0f0f
@var color      primary-fg-color         "Primary FG Color"  #cacaca
@var color      secondary-bg-color       "Seconday BG Color"  #444
@var color      secondary-fg-color       "Secondary FG Color"  #aaa
@var color      accent-bg-color          "Accent BG Color"  #0d003c
@var color      accent-fg-color          "Accent FG Color"  #ffb4e0
==/UserStyle== */



@-moz-document domain("hiddenelise.wordpress.com")
    if use_theme == do_theme_dark
        primary-bg-color = #222
        primary-fg-color = #eee
        secondary-bg-color = #131313
        secondary-fg-color = #aaa
        accent-bg-color = #322c20
        accent-fg-color = #ffedbb
    if use_theme == do_theme_caremel_popcorn
        primary-bg-color = #bb4500 
        primary-fg-color = #871000
        secondary-bg-color = #fdee9b
        secondary-fg-color = #e45e00
        accent-bg-color = #9d4000
        accent-fg-color = #ee8213
    if use_theme == do_theme_latte
        primary-bg-color = #33275d
        primary-fg-color = #ecb353
        secondary-bg-color = #ca35df
        secondary-fg-color = #f9e96a
        accent-bg-color = #554136
        accent-fg-color = #961e2d
        //accent-fg-color = #ffffff
    if use_theme == do_theme_raeliana
        primary-bg-color = #2e2d2f
        primary-fg-color = #d5a05e
        secondary-bg-color = #2a365f
        secondary-fg-color = #aaa
        accent-bg-color = #5b3c34
        accent-fg-color = #f96d50
    if use_theme == do_theme_elise
        primary-bg-color = #0f0f0f
        primary-fg-color = #cacaca
        secondary-bg-color = #444
        secondary-fg-color = #aaa
        accent-bg-color = #0d003c
        accent-fg-color = #ffb4e0
    /*if use_theme == do_theme_img
        body, body > *
            background-image: url(custom-bg-img) !important
            background-attachment: fixed
            background-position: center
            background-size: cover !important
    */
    if autohide_toolbars
        #wpadminbar
            display: none
    if use_theme != no_theme
        body > *
        ,.comment-content  *
        ,body
            background-color primary-bg-color !important
            color primary-fg-color !important
            background-image none !important
         //.entry-header > * > * > * > * 
        .entry-header .posted-on
        , .entry-header .posted-on time
        , .comment-reply-link
        , .post-categories *
        ,.entry-meta > * 
            background-color accent-bg-color !important
            color accent-fg-color !important
        h1
        ,h2 *
        ,h3 *
        ,h4 *
        ,h5 *
        ,h6 *
        ,h7 *
        ,h8 *
        ,.nav-links a
        ,.main-navigation *
        ,.site-branding h1 *
        ,.comment-author.vcard *
            color accent-fg-color !important
        time
        ,.nav-links span
        ,.nav-links span::before
            color secondary-fg-color !important
        .site-branding h2
            color primary-fg-color !important

@-moz-document regexp("https://hiddenelise\\.wordpress\\.com/[^/]+/[^/]+/[^/]+/chapter-.*")
    if remove_page_gaps
        /* Stitch Images top/bottom together. What code is needed changes between chapters.... */
        .entry-content > .wp-block-image,
        .entry-content figure > img,
        .entry-content figure,
        .entry-content img,
        .entry-content
            margin-top: 0
            margin-bottom: 0
            margin-block-start: 0
            margin-block-end: 0
            margin-inline-start: 0
            margin-inline-end: 0
            line-height: 0px !important
        /* Try not to mess up text, without introducing problems. */
        .entry-content p,
        .entry-content h,
        .entry-content h1,
        .entry-content h2,
        .entry-content h3,
        .entry-content h4,
        .entry-content h5
            line-height: 0px !important
            /* Tested on firefox only, moved text, but didnt move non text elms.*/
            margin-top: 1.2em
            margin-bottom: 1.2em


